@layout('layouts.main')

@section('extracss')
{{ style (versioncss('login')) }}
@endsection

@section('title')
Login
@endsection

@section('content')
<div id="app"></div>
@endsection
{{ script(versionjs('main')) }}