@layout('layouts.main')

@section('title')
User Detail
@endsection

@section('content')
  <h1>User Detail</h1>

 
  <div class="user-container">
    <div class="blank"></div>
    <div class="user-info">
      <h3>{{ user.username }}</h3>
    </div>
  </div>
  
  
@endsection